.App {
  text-align: center;
}

.dates{
  font-size: 1.6rem;
  margin-right: 1%;
}

h1{
  color: black; 
  font-size: 5rem;
  border-bottom: 8px solid lightblue;
  padding-bottom: 2%;
}

.description{ 
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  margin-top: 5%;
  border-top: 8px solid lightblue;
}
